.Footer{
    background-color: white;
    color: #0d1631;
    width: 100%;
    height: 25px;
    position: sticky;
    bottom: 0;
    padding: 2px 10px;
    .editedBy {
        font-size: .75rem;
    }
}