.Header {
    background-color: white;
    color: #0d1631;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    z-index: 5;
    box-shadow: 0px 9px 7px -8px rgba(0, 0, 0, 0.233);
    a,
    .nav-item {
        align-self: center;
        justify-content: center;
        text-decoration: none;
        color: #0d1631;
        margin: 0 15px;
        cursor: pointer;
        &:hover {
            transition-duration: 300ms;
            opacity: 0.6;
            text-decoration: none;
            color: #0d1631;
        }
    }
    .nav-item-end {
        margin-left: auto;
    }
}
