.circleContainer{
    width: 28vw;
    height: 28vw;
    min-width: 250px;
    min-height: 250px;
    padding: 20px;
    background-color: white;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.157);
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}
.profileImage{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgb(195, 195, 195);
    overflow: hidden;
    vertical-align: top;
    img{
        width: 100%;
        margin-top: -15px;
    }
}
.circleContainer:hover{
    // width: 28.5vw;
    // height: 28.5vw;
    box-shadow: 0px 7px 30px 6px rgba(0, 0, 0, 0.602);
}
@media only screen and (max-width: 992px) {
   .circleContainer{
    width: 40vw;
    height: 40vw;
   } 
//    .circleContainer:hover{
//     width: 40.5vw;
//     height: 40.5vw;
// }
}
